# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment files
.env

# Compiled class files
*.class

# Package files
*.jar
*.war
*.ear

# Temporary files
*.tmp
*.swp

# IntelliJ cache & workspace
.idea_modules/

# Practice DI_Bean folder (work in progress)
Practice/DI_Bean/

# vscode
vscode